@using System.Web.Mvc.Html

@{
    ViewBag.Title = "Snack bar support";
}


<div class="row">
    <div class="col-md-4">
        <h2>Services for your restaurant</h2>
        <p>Oppppiiiiiiiiiiiiiissssssssssssss</p>
    </div>
</div>