@using System.Web.Mvc.Html
@model IEnumerable<Models.Dto.RestaurantDto>

@{
    ViewBag.Title = "Resources";
}

<h2>Choose restaurant</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Manage", "Manage", new { id=item.Id })
        </td>
    </tr>
}

</table>
