@using System.Web.Mvc.Html
@model Models.ViewModels.SnackBarError

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>Error.</h2>
        <h3>An error occurred while processing your request:</h3>
        <h4>
            @Html.DisplayText(Model.Message)
        </h4>
    </hgroup>
</body>
</html>
